<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <title>Главная страница</title>
</head>
<body>
      <ul>
        <li><a href="/orders">Заказы</a></li>
        <li><a href="/workers">Работники</a></li>
        <li><a href="/shoes">Обувь</a></li>
        <li><a href="/clients">Клиенты</a></li>
        <li><a href="/deliverymans">Курьеры</a></li>
        <li><a href="/brandInfo">Информация о брендах</a></li>
        <li><a href="/clientsRating">Рейтинг клиентов</a></li>
        <li><a href="/clientsRelatives">Родственники клиентов</a></li>
        <li><a href="/workersChildren">Дети работников</a></li>
        <li><a href="/registration">Регистрация</a></li>
        <li style="float:right"><a href="/auth" id="exit">Выйти</a></li>
      </ul>

</body>
</html>