<!DOCTYPE html>
<html>
<head>
    <title>Добавление рейтинга клиента</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Добавление рейтинга клиента</h1>
     <form method="POST">

        <label>Количество заказов</label><br>
        <input name="quantityOrders" type="number" class="field"/><br><br>

        <label>Рейтинг</label><br>
        <input name="rating" type="number" class="field"/><br><br>

        <input type="submit" value="Добавить" />
     </form>
     <a href="clientsRating">К списку рейтинга клиентов</a>
</body>
<html>