<!DOCTYPE html>
<html>
<head>
    <title>Добавление обуви</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Добавление обуви</h1>
     <form method="POST">

        <label>Номер бренда</label><br>
        <input name="id_Brands" type="number" class="field"/><br><br>

        <label>Материал</label><br>
        <input name="material" type="text" class="field"/><br><br>

        <label>Сезон</label><br>
        <input name="season" type="text" class="field"/><br><br>

        <label>Тип</label><br>
        <input name="type" type="text" class="field"/><br><br>

        <label>Гендер</label><br>
        <input name="gender" type="text" class="field"/><br><br>

        <label>Состояние</label><br>
        <input name="shoes_condition" type="text" class="field"/><br><br>

        <input type="submit" value="Добавить" />
     </form>
     <a href="shoes">К списку обуви</a>
</body>
<html>