<!DOCTYPE html>
<html>
<head>
    <title>Добавление родственника</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Добавление родственника</h1>
     <form method="POST">

        <label>ФИО</label><br>
        <input name="fullname" type="text" class="field"/><br><br>

        <label>Номер телфона</label><br>
        <input name="phoneNumber" type="text" class="field"/><br><br>

        <label>Тип</label><br>
        <input name="type" type="text" class="field"/><br><br>

        <input type="submit" value="Добавить" />
     </form>
     <a href="clientsRelatives">К списку родственников</a>
</body>
<html>