<!DOCTYPE html>
<html>
<head>
    <title>Добавление курьера</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Добавление курьера</h1>
     <form method="POST">

        <label>ФИО</label><br>
        <input name="fullname" type="text" class="field"/><br><br>

        <label>Номер телефона</label><br>
        <input name="phoneNumber" type="text" class="field"/><br><br>

        <label>Почта</label><br>
        <input name="email" type="text" class="field"/><br><br>

        <input type="submit" value="Добавить" />
     </form>
     <a href="deliverymans">К списку курьеров</a>
</body>
<html>