<!DOCTYPE html>
<html>
<head>
    <title>Добавление информации о бренде</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Добавление информации о бренде</h1>
     <form method="POST">

        <label>Название бренда</label><br>
        <input name="brandName" type="text" class="field"/><br><br>

        <label>Сайт</label><br>
        <input name="website" type="text" class="field"/><br><br>

        <input type="submit" value="Добавить" />
     </form>
     <a href="brandInfo">К списку информации о брендах</a>
</body>
<html>