<!DOCTYPE html>
<html>
<head>
    <title>Добавление ребенка</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Добавление ребенка</h1>
     <form method="POST">

        <label>ФИО</label><br>
        <input name="fullname" type="text" class="field"/><br><br>

        <label>Школа</label><br>
        <input name="school" type="text" class="field"/><br><br>

        <label>День рождения</label><br>
        <input name="birthday" type="date" class="field"/><br><br>

        <label>Номер рабочего</label><br>
        <input name="id_Worker" type="number" class="field"/><br><br>


        <input type="submit" value="Добавить" />
     </form>
     <a href="workersChildren">К списку детей</a>
</body>
<html>